
.home-banner {
  background-image: url('https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 95%;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.cocktail-banner {
  background-image: url('https://images.pexels.com/photos/4051257/pexels-photo-4051257.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  height: 40vh;
  color: #eee;
  font-size: 80px;
  text-align: center;
  padding-top: 40vh;
}
